<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./intranet/partials/intranetHead.ejs') %>

    <link rel="stylesheet" href="/css/index.css" />

    <title>MIRASOL - Intranet - Login</title>
  </head>

  <body>
    <header class="headerContainer">
      <%- include('./intranet/partials/intranetHeader.ejs') %>
    </header>

    <main class="homeContainer"></main>

    <footer class="footerContainer">
      <%- include('./intranet/partials/intranetFooter.ejs') %>
    </footer>
  </body>
</html>
