/* Mobile */

.homeContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

.whoWeAreContainer p {
  text-align: justify;
  font-size: var(--text-md);
  margin-bottom: 15px;
}

.ourMisionContainer p {
  text-align: justify;
  font-size: var(--text-md);
  margin-bottom: 15px;
}

.ourVisionContainer p {
  text-align: justify;
  font-size: var(--text-md);
  margin-bottom: 15px;
}

.ourValuesContainer {
  margin-bottom: 15px;
}
.ourValuesContainer ul {
  text-align: justify;
  font-size: var(--text-md);
}

.imageContainer img {
  width: 100%;
  border-radius: 20px;
}

/* Tablet */
@media (min-width: 768px) {
  .misionVisionValuesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 15px;
    justify-content: center;
  }
  .ourMisionContainer {
    width: 45%;
  }
  .ourVisionContainer {
    width: 45%;
  }
  .ourValuesContainer {
    width: 45%;
  }
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
  }
  .imageContainer img {
    width: 80%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
}
