/* Mobile */

.homeContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.titleContainer {
  word-break: break-word;
}
.dateContainer {
  font-size: 13px;
  color: darkgray;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageContainer img {
  margin-top: 15px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  max-width: 400px;
  margin-bottom: 15px;
}

.parContainer {
  margin-bottom: 20px;
}

.moreNewsContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gris);
  border-radius: 20px;
  padding: 20px 20px;
  margin-bottom: 20px;
  background-color: var(--amarillo);
  color: var(--blanco);
}
.subtitleContainer {
  text-align: center;
}
.moreNewsListContainer {
  display: flex;
  flex-direction: column;
}
.moreNewsListContainer li {
  margin-bottom: 10px;
}
.moreNewsListContainer li a {
  text-decoration: none;
  color: var(--blanco);
}

/* Tablet */
@media (min-width: 768px) {
  .homeContainer {
    padding: 50px 20px;
  }

  .titleContainer {
    font-size: 30px;
  }

  .imageContainer img {
    width: 100%;
    max-width: 600px;
  }

  .parContainer {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .moreNewsContainer {
    padding: 30px 30px;
    width: 70%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .subtitleContainer {
    font-size: 30px;
  }
  .moreNewsListContainer li {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .homeContainer {
  }
}
