main {
  /* display: none; */ /* Se usa para el menu hamburguesa, luego se modificará con JS en el front */
}
footer {
  /* display: none; */ /* Se usa para el menu hamburguesa, luego se modificará con JS en el front */
}

.homeContainer {
  display: flex;
  flex-direction: column;
}

.carrouselContainer {
}
.carrouselImage {
  width: 100%;
}

.welcomeContainer {
  padding: 20px 20px;
  text-align: center;
}
.welcomeContainer p {
  padding: 0px 20px;
  font-size: var(--text-lg);
}
