/* Variables globales */

:root {
  /* Colores */
  --amarillo: #e99401;
  --negro: #000000;
  --blanco: #ffffff;
  --azul: #0000ff;
  --gris: #d9d9d9;

  /* Tamaños de letra */
  --texto-xs: 12px;
  --texto-sm: 15px; /* texto pequeños como el mapa o la fecha de una noticia */
  --text-md: 16px; /* texto en footer */
  --text-lg: 20px; /* texto en footer para tablet y mobile*/
  --text-xl: 24px; /* textos como listados o para páginas sin mucho contenido */
  --text-2xl: 28px; /* subtítulos */
  --text-3xl: 32px; /* títulos */
  --text-4xl: 64px; /* menu hamburguesa */
}

/* Clases globales (por ejemplo botones, fondo, inputs, barra de búsqueda, checks, cuadros (por ejemplo de noticias) */

/* Mobile */
.homeContainer {
  padding: 20px 20px;
}
/* Tablet */
@media (min-width: 768px) {
  .homeContainer {
    padding: 50px 50px;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .homeContainer {
    padding: 80px 80px;
  }
}
