<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="/css/aboutUs.css" />

    <title>MCD - Sobre nosotros</title>
  </head>

  <body>
    <header class="headerContainer">
      <%- include('./partials/header.ejs') %>
    </header>

    <main class="homeContainer">
      <section class="aboutUsContainer">
        <div class="whoWeAreImageContainer">
          <article class="whoWeAreContainer">
            <h1>¿Quienes somos?</h1>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga
              maxime sapiente illum perspiciatis quasi, dolores excepturi,
              tempore ipsa voluptatem pariatur saepe ab, velit quae? Cum itaque
              debitis temporibus cupiditate repellat.
            </p>
          </article>
          <div class="imageTopContainer">
            <img
              src="/images/aboutUsImages/imagenNosotrosDeEjemplo.jpg"
              alt="Imagen de ejemplo de nosotros"
            />
          </div>
        </div>
        <div class="misionVisionValuesContainer">
          <article class="ourMisionContainer">
            <h2>Misión</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
              distinctio veniam reprehenderit tempora qui, tenetur deleniti.
              Deserunt, temporibus corrupti, in labore voluptatibus voluptates
              pariatur aperiam, veniam nesciunt explicabo asperiores quo.
            </p>
          </article>
          <article class="ourVisionContainer">
            <h2>Visión</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
              distinctio veniam reprehenderit tempora qui, tenetur deleniti.
              Deserunt, temporibus corrupti, in labore voluptatibus voluptates
              pariatur aperiam, veniam nesciunt explicabo asperiores quo.
            </p>
          </article>
          <article class="ourValuesContainer">
            <h2>Valores</h2>
            <ul>
              <li>Valor</li>
              <li>Valor</li>
              <li>Valor</li>
              <li>Valor</li>
              <li>Valor</li>
              <li>Valor</li>
            </ul>
          </article>
          <div class="imageBottomContainer">
            <img
              src="/images/aboutUsImages/imagenNosotrosDeEjemplo.jpg"
              alt="Imagen de ejemplo de nosotros"
            />
          </div>
        </div>
      </section>
    </main>

    <footer class="footerContainer">
      <%- include('./partials/footer.ejs') %>
    </footer>
  </body>
</html>
