<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="/css/aNew.css" />

    <title>MCD - Una noticia</title>
  </head>

  <body>
    <header class="headerContainer">
      <%- include('./partials/header.ejs') %>
    </header>

    <main class="homeContainer">
      <section class="sectionContainer">
        <article class="articleContainer">
          <div class="titleDateContainer">
            <h1 class="titleContainer">Taller de musicoterapia</h1>
            <span class="dateContainer">Sábado 16/11/2024</span>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis
              dolores dicta ea excepturi, impedit repellendus nobis nemo
              voluptas autem. Ducimus minus laboriosam molestiae officia aut
              fugiat nesciunt corrupti. Voluptate, excepturi!
            </p>
          </div>
          <div class="imageContainer">
            <img
              src="/images/newsImages/aNew/imagenDeUnaSolaNoticiaEjemplo.png"
              alt="Imagen de la noticia"
            />
          </div>
          <p class="parContainer">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia,
            incidunt perferendis! Hic, ipsa saepe eaque natus ab et culpa
            blanditiis mollitia impedit facere eligendi ad fuga nostrum? Modi,
            perspiciatis quisquam! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Consequatur, voluptate voluptas! Voluptatem
            deserunt illo rem voluptates eveniet non. Quasi nesciunt, et libero
            aliquam temporibus ratione ipsa pariatur blanditiis doloribus esse.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
            tempora eligendi, voluptatibus quae hic explicabo aut deserunt
            debitis eius soluta quisquam accusantium odit itaque, pariatur
            facilis, delectus recusandae non aliquid? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Error rem, sunt consectetur saepe
            dolorem ea facilis magni libero ab harum, dolore unde fugiat dolorum
            velit dicta veritatis, eveniet voluptates commodi.
          </p>
        </article>
      </section>

      <div class="moreNewsContainer">
        <h2 class="subtitleContainer">Ver más noticias:</h2>
        <ul class="moreNewsListContainer">
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
          <li>
            <a href="#">Una noticia</a>
          </li>
        </ul>
      </div>
    </main>

    <footer class="footerContainer">
      <%- include('./partials/footer.ejs') %>
    </footer>
  </body>
</html>
