<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Normalize -->

    <link rel="stylesheet" href="/css/normalize.css" />

    <!-- External styles -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Local styles -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/contactForm.css" />
    <link rel="stylesheet" href="/css/partials/header.css" />
    <link rel="stylesheet" href="/css/partials/footer.css" />

     <!-- Fav Icon -->
     <link
     rel="icon"
     type="image"
     href="/images/logos/nuevoLogoMirasolTransparente.png"
    />

    <!-- Local scripts -->

    <script src="/js/burgerMenu/burgerMenu.js" defer></script>
    <script src="/js/email/contactForm.js" defer></script>

    <title>MCD - Contáctanos</title>
</head>

<body>

    <header class="headerContainer">
        <div class="navLogo">
            <a href="/">
              <img
                src="/images/logos/nuevoLogoMirasolTransparente.png"
                alt="Logo de Mirasol Centro de Día"
              />
            </a>
          </div>
        <nav class="navContainer">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/services">Servicios</a></li>
                <li><a href="/installations">Instalaciones</a></li>
                <li><a href="/aboutus">Nosotros</a></li>
                <li><a href="/contactus">Contacto</a></li>
                <li><a href="/news">Novedades</a></li>
            </ul>

            <div class="burgerMenu">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </div>
      
            <div class="xButtonMenu">
                <i class="fa-solid fa-xmark fa-2xl"></i>
            </div>
        </nav>
    </header>

    <main class="homeContainer">
        <section class="contactFormSectionContainer">
            <h1 class="contactFormTitle">Déjanos tu consulta !</h1>
            <div class="squareContainer">
                <article class="contactFormInfo">
                    <p>Por favor, completa el siguiente formulario, responderemos tu consulta lo antes posible.</p>
                </article>
                <form id="contactForm" class="contactFormContainer" action="/email/contactus" method="POST">
                    <div class="patientInfo">
                        <label for="name">Nombre/s y apellido/s del paciente:</label>
                        <input type="text" id="name" name="name" placeholder="Escriba aquí el nombre de el/la paciente">
                    </div>
                    <div class="patientInfo">
                        <label for="phone">Teléfono:</label>
                        <input type="tel" id="phone" name="phone" placeholder="Escriba aquí un número de teléfono">
                    </div>
                    <div class="patientInfo">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Escriba aquí un correo electrónico">
                    </div>
                    <div class="patientInfo">
                        <label for="healthInsurance">Obra social / prepaga:</label>
                        <select name="healthInsurance" id="healthInsurance">
                            <option value="" selected>Seleccione una opción</option>
                            <option value="no">No poseo</option>
                            <option value="pami">PAMI</option>
                            <option value="iosper">IOSPER</option>
                            option value="swissMedical">Swiss Medical</option>
                            <option value="osde">OSDE</option>
                            <option value="galeno">Galeno</option>
                            <option value="medife">Medifé</option>
                            <option value="sancorSalud">Sancor Salud</option>
                            <option value="otra">Otra</option>
                        </select>
                    </div>
                    <div class="patientInfo">
                        <label for="age">Edad del paciente:</label>
                        <input type="number" id="age" name="age" placeholder="Escriba aquí la edad del paciente">
                    </div>
                    <div class="patientInfo">
                        <label for="message">Mensaje:</label>
                        <textarea id="message" name="message" placeholder="Escriba aquí su consulta"></textarea>
                    </div>
                    <div class="optionsContainer">
                        <label class="lbTerms" for="terms"><input class="chkTerms" type="checkbox" id="terms" name="terms">Acepto los términos y condiciones</label>
                        <a href="#">Términos y condiciones</a>
                        <label class="lbTerms" for="dataProtection"><input class="chkTerms" type="checkbox" id="dataProtection" name="dataProtection">Acepto la política de protección de datos</label>
                        <a href="#">Política de protección de datos personales</a>
                    </div>
                    <div class="sendMailButton">
                        <button type="submit">Enviar consulta</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer class="footerContainer">
        <div class="socialContainer">
            <h3>Redes sociales</h3>
            <div class="socialIcons">
                <a href="https://www.facebook.com/share/1GLUnqkqNT/?mibextid=LQQJ4d"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
                <a href="https://wa.me/5493434255454"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
            </div>
        </div>
        <div class="termsDataContainer">
            <a href="/termAndConditions"><p>Términos y condiciones</p></a>
            <a href="/dataProtection"><p>Protección de datos</p></a>
        </div>
        <div class="contactContainer">
            <section>
                <article>
                    <h3>Contáctanos:</h3>
                    <p><a href="tel:+5493434255454">Celular: +54 9 343 4255454</a></p>
                    <p><a href="tel:+5493434236663">Línea fija: +54 9 343 4236663</a></p>
                </article>
            </section>
        </div>
        <div class="itranetContainer">
            <a href="/intranet">Intranet</a>
        </div>
        <div class="copyrightContainer">
            <p>© Mirasol Centro de Día</p>
        </div>
    </footer>

</body>

</html>