<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="/css/contactForm.css" />

    <script src="/js/email/contactForm.js" defer></script>

    <title>MCD - Contáctanos</title>
</head>

<body>

    <header class="headerContainer">
        <%- include('./partials/header.ejs') %>
    </header>

    <main class="homeContainer">
        <section class="contactFormSectionContainer">
            <h1 class="contactFormTitle">Déjanos tu consulta !</h1>
            <div class="squareContainer">
                <article class="contactFormInfo">
                    <p>Por favor, completa el siguiente formulario, responderemos tu consulta lo antes posible.</p>
                </article>
                <form id="contactForm" class="contactFormContainer" action="/email/contactus" method="POST">
                    <div class="patientInfo">
                        <label for="name">Nombre/s y apellido/s del paciente:</label>
                        <input type="text" id="name" name="name" placeholder="Escriba aquí el nombre de el/la paciente">
                    </div>
                    <div class="patientInfo">
                        <label for="phone">Teléfono:</label>
                        <input type="tel" id="phone" name="phone" placeholder="Escriba aquí un número de teléfono">
                    </div>
                    <div class="patientInfo">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Escriba aquí un correo electrónico">
                    </div>
                    <div class="patientInfo">
                        <label for="healthInsurance">Obra social / prepaga:</label>
                        <select name="healthInsurance" id="healthInsurance">
                            <option value="" selected>Seleccione una opción</option>
                            <option value="no">No poseo</option>
                            <option value="pami">PAMI</option>
                            <option value="iosper">IOSPER</option>
                            option value="swissMedical">Swiss Medical</option>
                            <option value="osde">OSDE</option>
                            <option value="galeno">Galeno</option>
                            <option value="medife">Medifé</option>
                            <option value="sancorSalud">Sancor Salud</option>
                            <option value="otra">Otra</option>
                        </select>
                    </div>
                    <div class="patientInfo">
                        <label for="age">Edad del paciente:</label>
                        <input type="number" id="age" name="age" placeholder="Escriba aquí la edad del paciente">
                    </div>
                    <div class="patientInfo">
                        <label for="message">Mensaje:</label>
                        <textarea id="message" name="message" placeholder="Escriba aquí su consulta"></textarea>
                    </div>
                    <div class="optionsContainer">
                        <label class="lbTerms" for="terms"><input class="chkTerms" type="checkbox" id="terms" name="terms">Acepto los términos y condiciones</label>
                        <a href="#">Términos y condiciones</a>
                        <label class="lbTerms" for="dataProtection"><input class="chkTerms" type="checkbox" id="dataProtection" name="dataProtection">Acepto la política de protección de datos</label>
                        <a href="#">Política de protección de datos personales</a>
                    </div>
                    <div class="sendMailButton">
                        <button type="submit">Enviar consulta</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer class="footerContainer">
        <%- include('./partials/footer.ejs') %>
    </footer>

</body>

</html>