<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Normalize -->

    <link rel="stylesheet" href="/css/normalize.css" />

    <!-- External styles -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Local styles -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/partials/header.css" />
    <link rel="stylesheet" href="/css/partials/footer.css" />

    <title>Mirasol Centro de Día</title>
</head>

<body>

    <header>

    </header>

    <main>
        <h1>¡Hola Mundo!</h1>
        <p>Esta es una página de prueba</p>
    </main>

    <footer>
        <p>© 2024 Mirasol Centro de Día</p>
    </footer>

</body>

</html>