<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Normalize -->

    <link rel="stylesheet" href="/css/normalize.css" />

    <!-- External styles -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Local styles -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/partials/header.css" />
    <link rel="stylesheet" href="/css/partials/footer.css" />

    <title>Mirasol Centro de Día</title>
</head>

<body>

    <header class="headerContainer">

        <div class="navLogo">
            <a href="#">
                <img src="/images/logoFondoTransparente.png" alt="Logo de Mirasol Centro de Día">
            </a>
        </div>
        <nav class="navContainer">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Instalaciones</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Novedades</a></li>
            </ul>

        <div class="burgerMenu">
            <i class="fa-solid fa-bars fa-2xl"></i>
        </div>
        </nav>
    </header>

    <main>
        <h1>¡Hola Mundo!</h1>
        <p>Esta es una página de prueba</p>
    </main>

    <footer>
        <p>© 2024 Mirasol Centro de Día</p>
    </footer>

</body>

</html>