<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="/css/index.css" />

    <script src="/js/index/carrouselImage.js" defer></script>

    <title>Mirasol Centro de Día</title>
  </head>

  <body>
    <header class="headerContainer">
      <%- include('./partials/header.ejs') %>
    </header>

    <main class="homeContainer">
      <div class="carrouselContainer">
        <div class="imageSlide fade">
          <div class="numberText">1 / 3</div>
          <img
            class="carrouselImage"
            src="/images/indexImages/imagenCarrouselDeEjemplo.jpg"
            alt="Imagen de carrousel de ejemplo"
          />
          <div class="text">Imagen 1</div>
        </div>
        <div class="imageSlide fade">
          <div class="numberText">2 / 3</div>
          <img
            class="carrouselImage"
            src="/images/indexImages/imagenCarrouselDeEjemplo.jpg"
            alt="Imagen de carrousel de ejemplo"
          />
          <div class="text">Imagen 2</div>
        </div>
        <div class="imageSlide fade">
          <div class="numberText">3 / 3</div>
          <img
            class="carrouselImage"
            src="/images/indexImages/imagenCarrouselDeEjemplo.jpg"
            alt="Imagen de carrousel de ejemplo"
          />
          <div class="text">Imagen 3</div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>

      <div class="dotCircles">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

      <section class="welcomeContainer">
        <article>
          <h1>Bienvenido/a al sitio web de Mirasol Centro de Día</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
            quis perspiciatis, voluptate debitis expedita amet ea aut esse,
            nostrum blanditiis, cupiditate possimus odit magnam. Cumque ea sunt
            esse cupiditate iusto. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Provident maxime expedita eaque itaque esse quis
            voluptatem aliquid iure. Voluptas consectetur non blanditiis, dicta
            libero tenetur dolore! Omnis similique culpa nemo? Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Explicabo quis perspiciatis,
            voluptate debitis expedita amet ea aut esse, nostrum blanditiis,
            cupiditate possimus odit magnam. Cumque ea sunt esse cupiditate
            iusto.
          </p>
        </article>
      </section>
    </main>

    <footer class="footerContainer">
      <%- include('./partials/footer.ejs') %>
    </footer>
  </body>
</html>
