<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Normalize -->

    <link rel="stylesheet" href="/css/normalize.css" />

    <!-- External styles -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Local styles -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/installations.css" />
    <link rel="stylesheet" href="/css/partials/header.css" />
    <link rel="stylesheet" href="/css/partials/footer.css" />

    <title>Mirasol Centro de Día</title>
</head>

<body>

    <header class="headerContainer">
        <script src="/js/burgerMenu/burgerMenu.js" defer></script>
        <div class="navLogo">
            <a href="/">
                <img src="/images/logoFondoTransparente.png" alt="Logo de Mirasol Centro de Día">
            </a>
        </div>
        <nav class="navContainer">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/services">Servicios</a></li>
                <li><a href="/installations">Instalaciones</a></li>
                <li><a href="/aboutus">Nosotros</a></li>
                <li><a href="/contactus">Contacto</a></li>
                <li><a href="/news">Novedades</a></li>
            </ul>

        <div class="burgerMenu">
            <i class="fa-solid fa-bars fa-2xl"></i>
        </div>
        </nav>
    </header>

    <main class="homeContainer">
        <div class="titleAndMapContainer">
            <div class="titleContainer">
                <h1>Nuestras instalaciones</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci pariatur animi cumque, accusamus maiores dolorum ad ratione tenetur? Cum eius debitis perferendis sed explicabo! Non sint dolorum placeat minima exercitationem.
                </p>
            </div>
            <div class="mapContainer">
                <h2>¿Dónde estamos ubicados?</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3393.689241431914!2d-60.53248162371494!3d-31.724382811209406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b4526364c79371%3A0x5b7f0824aaf25db9!2sMirasol%20Centro%20De%20D%C3%ADa!5e0!3m2!1ses!2ses!4v1730746510814!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Santa Fe 496, Paraná, Entre Ríos, Argentina.</p>
            </div>
        </div>
        <div class="imageContainer">
            <h2>Fotos destacadas de las instalaciones</h2>
            <img class="imageContainer1" src="/images/installationsImages/imagenInstalacionesDeEjemplo.jpg" alt="Imagen de instalaciones de ejemplo">
            <img class="imageContainer2" src="/images/installationsImages/imagenInstalacionesDeEjemplo.jpg" alt="Imagen de instalaciones de ejemplo">
            <img class="imageContainer3" src="/images/installationsImages/imagenInstalacionesDeEjemplo.jpg" alt="Imagen de instalaciones de ejemplo">
            <div class="imageSelectorAndTitle">
                <i class="fa-solid fa-arrow-left fa-2xl"></i>
                <p class="imageSelectorDescription">Comedor</p>
                <i class="fa-solid fa-arrow-right fa-2xl"></i>
            </div>
        </div>
    </main>

    <footer class="footerContainer">
        <div class="socialContainer">
            <h3>Redes sociales</h3>
            <div class="socialIcons">
                <a href="#"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
            </div>
        </div>
        <div class="termsDataContainer">
            <a href="#"><p>Términos y condiciones</p></a>
            <a href="#"><p>Protección de datos</p></a>
        </div>
        <div class="contactContainer">
            <section>
                <article>
                    <h3>Contáctanos:</h3>
                    <p>Celular: +54 9 343 4255454</p>
                    <p>Línea fija: +54 9 343 4236663</p>
                </article>
            </section>
        </div>
        <div class="itranetContainer">
            <a href="#">Intranet</a>
        </div>
        <div class="copyrightContainer">
            <p>© Mirasol Centro de Día</p>
        </div>
    </footer>

</body>

</html>