<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="/css/news.css" />

    <title>MCD - Nuestras últimas novedades</title>
  </head>

  <body>
    <header class="headerContainer">
      <%- include('./partials/header.ejs') %>
    </header>

    <main class="homeContainer">
      <div class="introContainer">
        <h1 class="introTitleContainer">Nuestras últimas novedades</h1>
        <p class="introPContainer">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis
          dolores dicta ea excepturi, impedit repellendus nobis nemo voluptas
          autem. Ducimus minus laboriosam molestiae officia aut fugiat nesciunt
          corrupti. Voluptate, excepturi!
        </p>
      </div>

      <div class="newsContainer">
        <section>
          <article class="aNew">
            <h2 class="newsTitle">Taller de musicoterapia</h2>
            <p class="newsResume">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              fugiat officia doloribus saepe itaque. Architecto autem voluptate,
              est quam quos suscipit, cupiditate tenetur neque nihil quod
              dolorem minima deserunt id?
            </p>
            <img
              src="./images/newsImages/imagenDeNoticiaDeEjemplo.png"
              alt="Taller de musicoterapia"
            />
            <a href="/aNew" class="readMoreLink">
              <span class="readMoreText">Leer más</span>
              <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
            </a>
          </article>
          <article class="aNew">
            <h2 class="newsTitle">Taller de musicoterapia</h2>
            <p class="newsResume">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              fugiat officia doloribus saepe itaque. Architecto autem voluptate,
              est quam quos suscipit, cupiditate tenetur neque nihil quod
              dolorem minima deserunt id?
            </p>
            <img
              src="./images/newsImages/imagenDeNoticiaDeEjemplo.png"
              alt="Taller de musicoterapia"
            />
            <a href="/aNew" class="readMoreLink">
              <span class="readMoreText">Leer más</span>
              <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
            </a>
          </article>
          <article class="aNew">
            <h2 class="newsTitle">Taller de musicoterapia</h2>
            <p class="newsResume">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              fugiat officia doloribus saepe itaque. Architecto autem voluptate,
              est quam quos suscipit, cupiditate tenetur neque nihil quod
              dolorem minima deserunt id?
            </p>
            <img
              src="./images/newsImages/imagenDeNoticiaDeEjemplo.png"
              alt="Taller de musicoterapia"
            />
            <a href="/aNew" class="readMoreLink">
              <span class="readMoreText">Leer más</span>
              <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
            </a>
          </article>
          <article class="aNew">
            <h2 class="newsTitle">Taller de musicoterapia</h2>
            <p class="newsResume">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              fugiat officia doloribus saepe itaque. Architecto autem voluptate,
              est quam quos suscipit, cupiditate tenetur neque nihil quod
              dolorem minima deserunt id?
            </p>
            <img
              src="./images/newsImages/imagenDeNoticiaDeEjemplo.png"
              alt="Taller de musicoterapia"
            />
            <a href="/aNew" class="readMoreLink">
              <span class="readMoreText">Leer más</span>
              <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
            </a>
          </article>
          <article class="aNew">
            <h2 class="newsTitle">Taller de musicoterapia</h2>
            <p class="newsResume">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              fugiat officia doloribus saepe itaque. Architecto autem voluptate,
              est quam quos suscipit, cupiditate tenetur neque nihil quod
              dolorem minima deserunt id?
            </p>
            <img
              src="./images/newsImages/imagenDeNoticiaDeEjemplo.png"
              alt="Taller de musicoterapia"
            />
            <a href="/aNew" class="readMoreLink">
              <span class="readMoreText">Leer más</span>
              <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
            </a>
          </article>
          <article class="aNew">
            <h2 class="newsTitle">Taller de musicoterapia</h2>
            <p class="newsResume">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              fugiat officia doloribus saepe itaque. Architecto autem voluptate,
              est quam quos suscipit, cupiditate tenetur neque nihil quod
              dolorem minima deserunt id?
            </p>
            <img
              src="./images/newsImages/imagenDeNoticiaDeEjemplo.png"
              alt="Taller de musicoterapia"
            />
            <a href="/aNew" class="readMoreLink">
              <span class="readMoreText">Leer más</span>
              <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
            </a>
          </article>
          <article class="aNew">
            <h2 class="newsTitle">Taller de musicoterapia</h2>
            <p class="newsResume">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              fugiat officia doloribus saepe itaque. Architecto autem voluptate,
              est quam quos suscipit, cupiditate tenetur neque nihil quod
              dolorem minima deserunt id?
            </p>
            <img
              src="./images/newsImages/imagenDeNoticiaDeEjemplo.png"
              alt="Taller de musicoterapia"
            />
            <a href="/aNew" class="readMoreLink">
              <span class="readMoreText">Leer más</span>
              <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
            </a>
          </article>
          <article class="aNew">
            <h2 class="newsTitle">Taller de musicoterapia</h2>
            <p class="newsResume">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              fugiat officia doloribus saepe itaque. Architecto autem voluptate,
              est quam quos suscipit, cupiditate tenetur neque nihil quod
              dolorem minima deserunt id?
            </p>
            <img
              src="./images/newsImages/imagenDeNoticiaDeEjemplo.png"
              alt="Taller de musicoterapia"
            />
            <a href="/aNew" class="readMoreLink">
              <span class="readMoreText">Leer más</span>
              <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
            </a>
          </article>
        </section>
      </div>
    </main>

    <footer class="footerContainer">
      <%- include('./partials/footer.ejs') %>
    </footer>
  </body>
</html>
