<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Normalize -->

    <link rel="stylesheet" href="/css/normalize.css" />

    <!-- External styles -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Local styles -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/partials/header.css" />
    <link rel="stylesheet" href="/css/partials/footer.css" />

    <!-- Fav Icon -->

    <link rel="icon" type="image" href="/images/logoFondoTransparente.png" />

    <!-- Local scripts -->

    <script src="/js/burgerMenu/burgerMenu.js" defer></script>

    <title>MCD - Nuestras últimas novedades</title>
</head>

<body>

    <header class="headerContainer">
        <div class="navLogo">
            <a href="/">
                <img src="/images/logoFondoTransparente.png" alt="Logo de Mirasol Centro de Día">
            </a>
        </div>
        <nav class="navContainer">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/services">Servicios</a></li>
                <li><a href="/installations">Instalaciones</a></li>
                <li><a href="/aboutus">Nosotros</a></li>
                <li><a href="/contactus">Contacto</a></li>
                <li><a href="/news">Novedades</a></li>
            </ul>

        <div class="burgerMenu">
            <i class="fa-solid fa-bars fa-2xl"></i>
        </div>
        </nav>
    </header>

    <main class="homeContainer">

        <div class="introContainer">
            <h1 class="introTitleContainer">Nuestras últimas novedades</h1>
            <p class="introPContainer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores dicta ea excepturi, impedit repellendus nobis nemo voluptas autem. Ducimus minus laboriosam molestiae officia aut fugiat nesciunt corrupti. Voluptate, excepturi!</p>
        </div>

        <div class="newsContainer">
            <section>
                <article class="aNew">
                    <h2 class="newsTitle">Taller de musicoterapia</h2>
                    <p class="newsResume">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat officia doloribus saepe itaque. Architecto autem voluptate, est quam quos suscipit, cupiditate tenetur neque nihil quod dolorem minima deserunt id?</p>
                    <img src="./images/newsImages/imagenDeNoticiaDeEjemplo.png" alt="Taller de musicoterapia">
                    <a href="/aNew" class="readMoreLink">
                        <span class="readMoreText">Leer más</span>
                        <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
                    </a>
                </article>
                <article class="aNew">
                    <h2 class="newsTitle">Taller de musicoterapia</h2>
                    <p class="newsResume">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat officia doloribus saepe itaque. Architecto autem voluptate, est quam quos suscipit, cupiditate tenetur neque nihil quod dolorem minima deserunt id?</p>
                    <img src="./images/newsImages/imagenDeNoticiaDeEjemplo.png" alt="Taller de musicoterapia">
                    <a href="/aNew" class="readMoreLink">
                        <span class="readMoreText">Leer más</span>
                        <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
                    </a>
                </article>
                <article class="aNew">
                    <h2 class="newsTitle">Taller de musicoterapia</h2>
                    <p class="newsResume">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat officia doloribus saepe itaque. Architecto autem voluptate, est quam quos suscipit, cupiditate tenetur neque nihil quod dolorem minima deserunt id?</p>
                    <img src="./images/newsImages/imagenDeNoticiaDeEjemplo.png" alt="Taller de musicoterapia">
                    <a href="/aNew" class="readMoreLink">
                        <span class="readMoreText">Leer más</span>
                        <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
                    </a>
                </article>
                <article class="aNew">
                    <h2 class="newsTitle">Taller de musicoterapia</h2>
                    <p class="newsResume">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat officia doloribus saepe itaque. Architecto autem voluptate, est quam quos suscipit, cupiditate tenetur neque nihil quod dolorem minima deserunt id?</p>
                    <img src="./images/newsImages/imagenDeNoticiaDeEjemplo.png" alt="Taller de musicoterapia">
                    <a href="/aNew" class="readMoreLink">
                        <span class="readMoreText">Leer más</span>
                        <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
                    </a>
                </article>
                <article class="aNew">
                    <h2 class="newsTitle">Taller de musicoterapia</h2>
                    <p class="newsResume">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat officia doloribus saepe itaque. Architecto autem voluptate, est quam quos suscipit, cupiditate tenetur neque nihil quod dolorem minima deserunt id?</p>
                    <img src="./images/newsImages/imagenDeNoticiaDeEjemplo.png" alt="Taller de musicoterapia">
                    <a href="/aNew" class="readMoreLink">
                        <span class="readMoreText">Leer más</span>
                        <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
                    </a>
                </article>
                <article class="aNew">
                    <h2 class="newsTitle">Taller de musicoterapia</h2>
                    <p class="newsResume">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat officia doloribus saepe itaque. Architecto autem voluptate, est quam quos suscipit, cupiditate tenetur neque nihil quod dolorem minima deserunt id?</p>
                    <img src="./images/newsImages/imagenDeNoticiaDeEjemplo.png" alt="Taller de musicoterapia">
                    <a href="/aNew" class="readMoreLink">
                        <span class="readMoreText">Leer más</span>
                        <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
                    </a>
                </article>
                <article class="aNew">
                    <h2 class="newsTitle">Taller de musicoterapia</h2>
                    <p class="newsResume">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat officia doloribus saepe itaque. Architecto autem voluptate, est quam quos suscipit, cupiditate tenetur neque nihil quod dolorem minima deserunt id?</p>
                    <img src="./images/newsImages/imagenDeNoticiaDeEjemplo.png" alt="Taller de musicoterapia">
                    <a href="/aNew" class="readMoreLink">
                        <span class="readMoreText">Leer más</span>
                        <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
                    </a>
                </article>
                <article class="aNew">
                    <h2 class="newsTitle">Taller de musicoterapia</h2>
                    <p class="newsResume">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat officia doloribus saepe itaque. Architecto autem voluptate, est quam quos suscipit, cupiditate tenetur neque nihil quod dolorem minima deserunt id?</p>
                    <img src="./images/newsImages/imagenDeNoticiaDeEjemplo.png" alt="Taller de musicoterapia">
                    <a href="/aNew" class="readMoreLink">
                        <span class="readMoreText">Leer más</span>
                        <i class="fa-solid fa-arrow-right fa-2xl read-more-icon"></i>
                    </a>
                </article>
            </section>
        </div>

    </main>

    <footer class="footerContainer">
        <div class="socialContainer">
            <h3>Redes sociales</h3>
            <div class="socialIcons">
                <a href="https://www.facebook.com/share/1GLUnqkqNT/?mibextid=LQQJ4d"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
                <a href="https://wa.me/5493434255454"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
            </div>
        </div>
        <div class="termsDataContainer">
            <a href="/termAndConditions"><p>Términos y condiciones</p></a>
            <a href="/dataProtection"><p>Protección de datos</p></a>
        </div>
        <div class="contactContainer">
            <section>
                <article>
                    <h3>Contáctanos:</h3>
                    <p>Celular: +54 9 343 4255454</p>
                    <p>Línea fija: +54 9 343 4236663</p>
                </article>
            </section>
        </div>
        <div class="itranetContainer">
            <a href="/intranet">Intranet</a>
        </div>
        <div class="copyrightContainer">
            <p>© Mirasol Centro de Día</p>
        </div>
    </footer>

</body>

</html>