<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Normalize -->

    <link rel="stylesheet" href="/css/normalize.css" />

    <!-- External styles -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Local styles -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/services.css" />
    <link rel="stylesheet" href="/css/partials/header.css" />
    <link rel="stylesheet" href="/css/partials/footer.css" />

    <title>Mirasol Centro de Día</title>
</head>

<body>

    <header class="headerContainer">

        <div class="navLogo">
            <a href="#">
                <img src="/images/logoFondoTransparente.png" alt="Logo de Mirasol Centro de Día">
            </a>
        </div>
        <nav class="navContainer">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="/services">Servicios</a></li>
                <li><a href="#">Instalaciones</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Novedades</a></li>
            </ul>

        <div class="burgerMenu">
            <i class="fa-solid fa-bars fa-2xl"></i>
        </div>
        </nav>
    </header>

    <main class="homeContainer">
        <div class="titleAndImages">
        <div class="titleContainer">
            <h1>¿Qué es un centro de día?</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci pariatur animi cumque, accusamus maiores dolorum ad ratione tenetur? Cum eius debitis perferendis sed explicabo! Non sint dolorum placeat minima exercitationem.
            </p>
        </div>
        <div class="servicesImages">
            <img class="imageContainer1" src="/images/servicesImages/imagenServiciosDeEjemplo.jpg" alt="Imagen de servicios de ejemplo">
            <img class="imageContainer2" src="/images/servicesImages/imagenServiciosDeEjemplo.jpg" alt="Imagen de servicios de ejemplo">
            <img class="imageContainer3" src="/images/servicesImages/imagenServiciosDeEjemplo.jpg" alt="Imagen de servicios de ejemplo">
            <img class="imageContainer4" src="/images/servicesImages/imagenServiciosDeEjemplo.jpg" alt="Imagen de servicios de ejemplo">
        </div>
        </div>
        <section class="subtitleContainer">
            <article class="servicesContainer">
                <h2>Nuestros servicios:</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, suscipit. Nemo animi a aperiam soluta voluptatum enim eveniet velit commodi accusamus perspiciatis aliquid impedit architecto sed maiores laudantium, iste eius.</p>
            </article>
            <article class="specialtiesContainer">
                <ul class="specialtiesList">
                    <li>Neurología</li>
                    <li>Terapia ocupacional</li>
                    <li>Psicología</li>
                    <li>Kinesiología</li>
                    <li>Psicopedagogía</li>
                    <li>Fonoaudiología</li>
                    <li>Técnico en musicoterapia</li>
                    <li>Nutricionista</li>
                    <li>Trabajadora social</li>
                    <li>Atención de enfermería permanente</li>
                    <li>Alimentación completa durante el horario de concurrencia</li>
                </ul>
            </article>
        </section>

    </main>

    <footer class="footerContainer">
        <div class="socialContainer">
            <h3>Redes sociales</h3>
            <div class="socialIcons">
                <a href="#"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
            </div>
        </div>
        <div class="termsDataContainer">
            <a href="#"><p>Términos y condiciones</p></a>
            <a href="#"><p>Protección de datos</p></a>
        </div>
        <div class="contactContainer">
            <section>
                <article>
                    <h3>Contáctanos:</h3>
                    <p>Celular: +54 9 343 4255454</p>
                    <p>Línea fija: +54 9 343 4236663</p>
                </article>
            </section>
        </div>
        <div class="itranetContainer">
            <a href="#">Intranet</a>
        </div>
        <div class="copyrightContainer">
            <p>© Mirasol Centro de Día</p>
        </div>
    </footer>

</body>

</html>