<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="/css/termsConditionsAnddataProtection.css" />

    <title>MCD - Términos & condiciones</title>
  </head>

  <body>
    <header class="headerContainer">
      <%- include('./partials/header.ejs') %>
    </header>

    <main class="homeContainer">
      <section class="sectionContainer">
        <article class="articleContainer">
          <h1 class="titleContainer">
            Términos y condiciones de uso del sitio web de Mirasol Centro De Día
          </h1>
          <h2 class="subtitleContainer">
            <a href="#">www.linkalsitioweb.com.ar</a>
          </h2>
          <p class="introductionContainer">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
            cupiditate eligendi commodi magnam aut voluptate excepturi, maiores
            ut nulla, impedit fugit in aperiam ex mollitia ratione blanditiis
            laudantium! Ullam, cumque?
          </p>
          <ul class="listContainer">
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              quod.
            </li>
            <ul class="artContainer">
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
            </ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              quod.
            </li>
            <ul class="artContainer">
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
            </ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              quod.
            </li>
            <ul class="artContainer">
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
            </ul>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
              quod.
            </li>
            <ul class="artContainer">
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam, quod.
              </li>
            </ul>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur
              iste voluptate suscipit, eveniet totam enim recusandae, mollitia
              voluptatem eaque amet aliquid facere pariatur blanditiis et ipsum
              vel laborum molestias maxime. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Sequi quis quisquam aliquid
              accusamus doloribus corporis ex doloremque. Nesciunt eos quas
              blanditiis perspiciatis autem! Deserunt dignissimos, repudiandae
              adipisci soluta quae laborum. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Tempora labore dolores sapiente vel
              qui fugiat ad, ullam sit accusamus quo! Exercitationem rem magni
              voluptatum eius, ea provident consequatur in a!
            </li>
          </ul>
        </article>
      </section>
    </main>

    <footer class="footerContainer">
      <%- include('./partials/footer.ejs') %>
    </footer>
  </body>
</html>
