<div class="navLogo">
  <a href="/">
    <img
      src="/images/logos/nuevoLogoMirasolTransparente.png"
      alt="Logo de Mirasol Centro de Día"
    />
  </a>
</div>
<nav class="navContainer">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/services">Servicios</a></li>
    <li><a href="/installations">Instalaciones</a></li>
    <li><a href="/aboutus">Nosotros</a></li>
    <li><a href="/contactus">Contacto</a></li>
    <li><a href="/news">Novedades</a></li>
  </ul>

  <div class="burgerMenu">
    <i class="fa-solid fa-bars fa-2xl"></i>
  </div>

  <div class="xButtonMenu">
    <i class="fa-solid fa-xmark fa-2xl"></i>
  </div>
</nav>
