.footerContainer {
  display: flex;
  height: 100%;
  max-height: 480px;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px;
  background-color: var(--azul);
  position: relative;
  color: var(--blanco);
  border-top: 1px solid black;
}

.socialContainer {
  margin-bottom: 15px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.socialIcons a {
  text-decoration: none;
  color: var(--amarillo);
}
.socialIcons i {
  padding: 30px 0px;
  font-size: 48px;
}

.termsDataContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 15px;
}
.termsDataContainer a {
  text-decoration: none;
  color: var(--blanco);
}

.contactContainer {
  margin-bottom: 15px;
}

.itranetContainer {
  font-size: var(--text-3xl);
  margin-bottom: 15px;
}
.itranetContainer a {
  text-decoration: none;
  color: var(--blanco);
}

.copyrightContainer {
}
