<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/intranetHead.ejs') %>

    <link rel="stylesheet" href="/intranet/css/myProfile.css" />

    <title>M - Intranet - Mi perfil</title>
  </head>

  <body>
    <header class="headerContainer">
      <%- include('../partials/intranetHeader.ejs') %>
    </header>

    <main class="homeContainer"></main>

    <footer class="footerContainer">
      <%- include('../partials/intranetFooter.ejs') %>
    </footer>
  </body>
</html>
