<div class="navLogo">
  <a href="/intranet/myProfile">
    <img
      src="/images/logos/nuevoLogoMirasolTransparente.png"
      alt="Logo de Mirasol Centro de Día"
    />
  </a>
</div>
<nav class="navBtn">
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Usuario</a></li>
    <li><a href="#">Salir</a></li>
  </ul>
</nav>
<nav class="navContainer">
  <ul>
    <li><a href="/intranet/myProfile">Inicio</a></li>
    <li><a href="/intranet/employee">Empleados</a></li>
    <li><a href="/intranet/newContacts">Nuevos contactos</a></li>
    <li><a href="/intranet/clinicRecords">Historias Clínicas</a></li>
    <li><a href="/intranet/news">Noticias</a></li>
    <li><a href="/intranet/stock">Stock</a></li>
    <li><a href="/intranet/patients">Pacientes</a></li>
    <li><a href="/intranet/insurances">Obras sociales</a></li>
    <li><a href="/intranet/metrics">Métricas (próximamente)</a></li>
    <li><a href="/intranet/importantNumbers">Números importantes</a></li>
    <li><a href="/intranet/calendar">Calendario</a></li>
    <li><a href="/intranet/foods">Comidas</a></li>
    <li><a href="/intranet/master">Master - USAR CON CUIDADO</a></li>
  </ul>

  <div class="burgerMenu">
    <i class="fa-solid fa-bars fa-2xl"></i>
  </div>

  <div class="xButtonMenu">
    <i class="fa-solid fa-xmark fa-2xl"></i>
  </div>
</nav>
