<div class="navLogo">
  <a href="/">
    <img
      src="/images/logos/nuevoLogoMirasolTransparente.png"
      alt="Logo de Mirasol Centro de Día"
    />
  </a>
</div>
<nav class="navContainer">
  <ul>
    <li><a href="/intranet/">Inicio</a></li>
    <li><a href="/services">Mi perfil</a></li>
    <li><a href="/installations">Empleados</a></li>
    <li><a href="/aboutus">Nuevos contactos</a></li>
    <li><a href="/contactus">Historias Clínicas</a></li>
    <li><a href="/news">Noticias</a></li>
    <li><a href="/news">Stock</a></li>
    <li><a href="/news">Pacientes</a></li>
    <li><a href="/news">Obras sociales</a></li>
    <li><a href="/news">Métricas (próximamente)</a></li>
    <li><a href="/news">Números importantes</a></li>
    <li><a href="/news">Calendario</a></li>
    <li><a href="/news">Comidas</a></li>
    <li><a href="/news">Master - USAR CON CUIDADO</a></li>
  </ul>

  <div class="burgerMenu">
    <i class="fa-solid fa-bars fa-2xl"></i>
  </div>

  <div class="xButtonMenu">
    <i class="fa-solid fa-xmark fa-2xl"></i>
  </div>
</nav>
